.calc_btn {
  width: 100px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 20px;
}
.calculator {
  width: 415px;
}
#display {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

body {
  background-image: url("../media/images/photo-1683884361203-69b7f969e9ff.avif");
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}


